<%- include("include/header"); %>
<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <ul>
      <% list.forEach((item,idx)=>{ %>
      <li>
        <div class="img"><img src="<%= item.image %>" alt="" /></div>
        <h3 class="blogTitle"><%= item.title %></h3>
        <div class="desc"><%= item.desc %></div>
      </li>
      <% }) %>
    </ul>
  </div>
</main>
<%- include("include/footer"); %>
